// assets/css/partials/_header.scss
// --------------------------------------------------
// Estilos para el header y navegación
// --------------------------------------------------

@use "partials/variables" as *;

.header {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 100;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem; // 64px
  }

  /* Estilos adicionales para el menú móvil se pueden agregar aquí si se requiere */
}
