// assets/css/partials/_header.scss
// --------------------------------------------------
// Estilos para el header y navegación
// --------------------------------------------------

@use "partials/variables" as *;

.header {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 10;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem; // 64px
  }

  /* Opcional: estilos adicionales para los enlaces del menú en escritorio */
  nav a {
    font-family: $font-body;
    font-size: 1rem;
    transition: color 0.3s ease;
    &:hover {
      color: $color-blue;
    }
  }
}
