// partials/_variables.scss
// --------------------------------------------------
// Variables for Wangari Website
// --------------------------------------------------

$color-orange: #c44900;
$color-blue: #80b3f5;
$color-green: #28a745;
$color-gray-light: #f7fafc;
$font-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;
